<div class="container">
  <form #userform="ngForm" (submit)="onSubmit(userform)">
    <div class="form-group">
      <label for="fname">First Name</label>
      <input type="text" class="form-control" name="firstName" id="fname"
             placeholder="Enter First Name" [ngModel]="firstName">
    </div>
    <div class="form-group">
      <label for="lname">Second Name</label>
      <input type="text" class="form-control" name="lastName" id="lname"
             placeholder="Enter Second Name" [ngModel]="lastName">
    </div>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" name="username" id="username"
             placeholder="Enter Username" [ngModel]="username">
    </div>
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp"
             placeholder="Enter email" [ngModel]="email">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" name="password" id="password"
             placeholder="Password" [ngModel]="password">
    </div>
    <div class="form-group">
      <label for="cnfpassword">Confirm Password</label>
      <input type="password" class="form-control" id="cnfpassword" name="cnfpassword"
             placeholder="Password" [ngModel]="cnfpassword">
    </div>
    <div class="dropdown" ngbDropdown>
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
        {{role}}
      </button>
      <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" (click)="selectRole('Admin')">Admin</a>
        <a class="dropdown-item" (click)="selectRole('Professor')">Professor</a>
        <a class="dropdown-item" (click)="selectRole('Assistant')">Assistant</a>
        <a class="dropdown-item" (click)="selectRole('Student')">Student</a>
        <a class="dropdown-item" (click)="selectRole('Supervisor')">Supervisor</a>
      </div>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <br>
  <div *ngIf="success" class="alert alert-success">
    <strong>Success!</strong> User Added Successfully.
  </div>
  <div *ngIf="err" class="alert alert-danger">
    <strong>Error!</strong> {{error}}
  </div>

</div>
